.container3 {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  align-items: end;
  white-space: nowrap;

  i {
    transition: width 500ms ease-out;
    text-align: left;
    overflow: hidden;

    a {
      font-size: small;
      text-decoration: none;
      color: $color-white;
      position: relative;
      padding-left: 200px;
    }
    &:hover {
      width: 20%;
    }
  }
  .fa-twitter::before {
    content: "\f099";

    color: $color-white;
  }
  .fa-linkedin-in::before {
    content: "\f0e1";

    color: $color-white;
  }
  .fa-facebook-f::before {
    content: "\f39e";

    color: $color-white;
  }
  .fa-github::before {
    content: "\f09b";

    color: $color-white;
  }
}
.social-links {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 180px;
  font-size: 32px;
  z-index: 3;

  .social-list {
    list-style-type: none;
    line-height: 32px;

    .social-items {
      align-items: center;
      transition: width 500ms ease-out;
      overflow: hidden;
      text-align: right;

      a {
        text-decoration: none;
        color: $color-white;
        &:hover {
          width: 200px;
          &::after {
            content: "Follow me";
            color: $color-white;
          }
        }
      }
    }
  }
}
