@import "./variables";

body {
  background: #c3cfe2;
  margin: 0;
  width: 100%;
}
@import "./part1";
/*END PART 1 */
@import "./part2";
/*END PART 2*/
@import "./socials";

/*MEDIAQUERY'S*/
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto auto;
  }
}
